@font-face {
    font-family: lato;
    src: url(./fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: lato;
    src: url(./fonts/Lato/Lato-Bold.ttf);
}

.to-fade-in {
 opacity: 0;
}

.to-fade-in.fade-in {
    animation: fade-in 2s forwards;
}
  
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

body {
    color: rgb(173, 26, 36);
    margin: 0;
    padding: 0;
    font-family: lato;
}

#site-container {
    display: flex;
    width: 100vw;
    height: 100%;
    flex-direction: row;
}

.section-container {
    width: 80vw;
    height: 100vw;
}

#nav-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    align-items: center;
    box-sizing: border-box;
    z-index: 1;
    position: fixed;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3vw;
    font-weight: bold;
}
.home-button {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 20%;
    height: 8%; 
    font-size: 2.5vw;
    font-weight: bold;
    display: flex;
    position: relative;
    overflow: hidden;
    border-style: solid;
    border-width: 5px;
    margin: 1vw 1vw 0 1vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    animation: spreadHomeReverse .5s normal forwards;
    justify-content: center;
}
.home-button:hover {
    animation: spreadHome .5s normal forwards;
}

@keyframes spreadHome {
    from { 
        opacity: 0;
        width: 20%;
        height: 8%;
    }
    to { 
        opacity: 1;
        width: 95%;
        height: 27%;
        background-color: black;
    }
}
@keyframes spreadHomeReverse {
    from { 
        opacity: 0;
        width: 95%;
        height: 27%;
    }
    to { 
        opacity: 1;
        width: 20%;
        height: 8%;
    }
}

.nav-name {
    display: flex;
}

#first-name {
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-right: .5vw;
    padding: 0;
    line-height: 2.3vw;
    letter-spacing: -.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#last-name {
    letter-spacing: .7vw;
}

#suffix {
    position: absolute;
    font-size: 10vw;
    left: 25%;
    top: 18%;
}

.nav-button {
    width: 100%;
    height: 10vh;
    background: none;
	color: inherit;
	border: none;
	padding-left: 1vw;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-left: 1vw;
    font-size: 2.2vw;
    display: flex;
    align-items: center;
    border-radius: 15px;
}
.nav-button.selected {
    transition: ease-in-out .5s;
    background-color: rgb(173, 26, 36);
}

.nav-button:hover {
    transition: ease-in-out .5s;
    background-color: rgb(173, 26, 36);
    color: white;
}

#content-container {
    flex-grow: 1;
    width: 100vw;
    padding-left: 20%;
}

#home-container {
    width: 80vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

#home-background {
    width: 80vw;
    height: 100vh;
    background-image: url("../images/atlanta_skyline.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    position: absolute;
}

.dim {
    background-color: black;
    width: inherit;
    height: 100%;
    position: absolute;
    opacity: 0.6;
}

#home-r {
    font-size: 40vw;
    color: white;
    position: relative;
    font-family: lato;
    animation: fade-in 2s forwards;
}
#home-intro {
    font-size: 5vw;
    color: white;
    position: relative;
    font-family: lato;
    animation: fade-in 2s forwards;
}

#about-container {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 4vh;
    /* color: #FC0D1B; */
    color: white;
    background-color: rgb(173, 26, 36);
    /* background-color: rgb(12, 21, 31); */
    align-items: center;
}

#about-content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.title {
    width: 40%;
    font-size: 4vw;
    border-right-style: solid;
    border-left-style: solid;
    padding: 0 1vw 0 1vw;
    border-width: 1vw;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 2vw 0px 2vw 0px;
    line-height: 8vh;
    display: flex;
    justify-content: center;
}

#headshot-container {
    width: 20vw;
    height: 30vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 15px;
    margin-bottom: 1vw;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.493);
}

#headshot {
    position: absolute;
    bottom: 40px;
    right: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black;
    border-style: none;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.493);
}
#image-shadow {
    position: absolute;
    bottom: 40px;
    right: 30px;
    width: 100%;
    height: 100%;
    background: radial-gradient(transparent 0%, black 75%);
}

.about-right-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3vw;
    margin-right: 2vw;
    /* justify-content: center; */
}

#bio-info-container {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    margin: 0;
}

strong {
    font-size: 1.5vw;
    margin: 0;
}

#skills-container {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

#skills-background {
    width: 80vw;
    height: 100vh;
    background-image: url("../images/contact_bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    position: absolute;
}

.light {
    background-color: rgba(255, 255, 255, 0.699);
}

#skills-title {
    margin-top: 7vw;
    color: rgb(173, 26, 36);
}

.foreground {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

#skills-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    height: 50%;
    margin-bottom: 10vw;
}

.skill-image-container {
    width: 7vw;
    height: 7vw;
}
.skill-image-container.three-stack {
    width: 15vw;
    height: 8vw;
}
.skill-image-container.wide {
    width: 16vw;
    height: 5vw;
}
.skill-image-container.wide.redux {
    width: 16vw;
    height: 5vw;
    filter: invert(1);
}

.skill-image {
    width: 100%;
    height: 100%;
}

.react {
    -webkit-filter: invert(1);
    filter: invert(1);
}

#portfolio-container {
    background-color: rgb(0, 0, 0);
    width: 80vw;
    height: 100vh;
    color: white;
}

#portfolio-title {
    margin-top: 7vw;
}

#links-container {
    margin: 1vw, 1vw, 1vw, 1vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-wrapper {
    width: 34vw;
    height: 33vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-description-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1vw;
}

.project-link {
    width: 34%;
    height: 37%;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.project-description {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: inherit;
    width: inherit;
    box-sizing: border-box;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vw;
}

.project-description-text {
    text-decoration: none;
    margin: 1vw;
    font-size: 1.2rem;
    text-align: center;
    margin: .5vw;
}

.project-image {
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    transition: .3s;
}

.project-image:hover {
    box-shadow: 0px 0px 30px 1px rgb(255, 255, 255);
}

.github-link {
    font-size: 1.5vw;
}

#contact-container {
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgb(173, 26, 36);
}

#contact-background {
    width: 80%;
    height: 60vh;
    background-image: url("../images/blur_background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    position: absolute;
}

#contact-container .foreground {
    height: 60vh;
}

#reach-out-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-links {
    width: 13vw;
    height: 13vw;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 2vw;
    background-color: white;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.493);
    transition: width .3s, height .5s, box-shadow 1s;
}
.contact-links:hover {
    width: 15vw;
    height: 15vw;
    box-shadow: 0px 0px 30px 1px rgba(255, 255, 255, 0.493);
}

.contact-links img {
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 1350px) {
    .project-wrapper {
        margin-left: 20%;
        margin-right: 20%;
        width: 25vw;
        height: 16vh;
        box-sizing: border-box;
    }

    .project-description-text {
        font-size: .6rem;
    }
}
    
@media only screen and (max-width: 880px) {
    .project-wrapper {
        width: 40%;
        height: 19vh;
    }
    .project-description-text {
        font-size: .3rem;
    }

    .skill-image-container {
        margin-left: 30%;
        margin-right: 30%;
    }

    #about-description p {
        font-size: 2.3vw;
    }
    h4 {
        font-size: 2.3vw;
    }
    strong {
        font-size: 3vw;
    }

    .foreground {
        justify-content: center;
    }

    .nav-button {
        font-size: 2.5vw;
    }

    .project-description-text {
        font-size: .7rem;
    }

    .github-link {
        font-size: 1.9vw;
    }
}

@media only screen and (max-width: 400px) {
    .project-description-text {
        font-size: .5rem;
    }

    .github-link {
        font-size: 3vw;
    }
}

a {
   color: white; 
}
a:visited {
   color: white; 
}